.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  white-space: nowrap;
  color: #fff !important;
  margin: 0;
  text-align: center;
  margin: 0 !important;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.select {
  width: 70;
}
