.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100% !important;
}

.title {
  white-space: nowrap;
  color: #fff !important;
  text-align: center;
  margin: 0 !important;
  margin-right: 10px;
  &:after {
    content: "My Library";
  }
}

.select {
  color: #a6adb4 !important;
  width: 60px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 64px;
  max-width: 100%;
}

@media (max-width: 468px) {
  .menu {
    max-width: 200px !important;
  }
}

@media (max-width: 768px) {
  .menu {
    max-width: 550px;
  }
  header {
    padding: 0 25px !important;
  }
  .title:after {
    content: "My Lib";
  }
}

.menu {
  li {
    padding: 0 20px !important;
  }

  li:last-child {
    padding-right: 0 !important;
  }

  li:hover,
  li:active,
  li:focus,
  li:focus-visible,
  li::selection,
  li:checked {
    background-color: transparent !important;
  }
  li:nth-last-child(4) {
    margin-left: auto;
  }

  div.ant-select-selector {
    border: none !important;
  }
}

.buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.select {
  width: 70;
}

.ant-select-selector {
  padding: 0 !important;
}
