.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  width: 300px;
  padding: auto;
}

.loginButton {
  width: 100%;
}

.white {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: white;
  }
}

.dark {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(20, 20, 20) inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
    background-color: rgb(20, 20, 20);
  }
}
