body {
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

h2.ant-typography {
  margin: 25px 0 25px 0 !important;
}

h3.ant-typography {
  margin: 25px 0 25px 0 !important;
}

.tag-cloud-tag {
  cursor: pointer !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

span.anticon-down {
  color: #a6adb4 !important;
}


